head {
    font-family: 'Poppins', sans-serif; 
    font-size: 2em;
    font-weight: bold;
}

body {
    margin: auto;
    max-width: 800px;
}

nav ul, footer ul {
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav {
    border-bottom: 1px solid #d5d5d5;
}
ul {
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
    padding: 0px;
}
ul li {
    display: inline;
    list-style: circle;
    color: #595959;
}
ol {
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
    padding: 0px;
}
ol li {
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
    display: inline;
    list-style: decimal;
    color: #595959;
}

a {text-decoration: none; color:#DF9496;}
a:hover {color: grey; background-color: transparent; text-decoration: none;}

h1 {
    font-size: 2em;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
}

h2 {
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;        
}
h3 {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;        
}
h4 {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;        
}
p {
    font-size: 1em;
    line-height: 1.5em;
    color: #595959;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
    font-weight: normal;
}
th, td {
    padding: 15px;
    text-align: left;
    vertical-align: top;
    font-family: 'Raleway', sans-serif, source-han-sans-simplified-c, sans-serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

.bio {
    padding: 0px 0px 20px 0px;  
    display: inline-block;
}

.image-left {
    padding-right: 20px;
}

.image-right {
    padding-left: 20px;
}
